/* you can add to or change this. */
#startScreen {
  transition: 2s linear all;

  text-align: center;
  font-size: 36px;
}

#startScreen h2 {
  font-size: 24px;
}

#game {
  transition: 2s linear all;
  height: 800px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

#game div {
  border: 2px solid black;
  width: 150px;
  height: 250px;
  margin: 20px;
  display: inline-block;
  border-radius: 15px;
}

#game div:hover {
  transition: 0.5s;
  transform: scale(1.1);
}

body {
  background-color: #f1faee;
  font-family: monospace;
}

.winSection {
  text-align: center;
}

div.notFlipped {
  transition: 1s;
  background-color: gray;
}

.red {
  transition: 1s;
  background-color: red;
}

.blue {
  transition: 1s;

  background-color: blue;
}

.green {
  transition: 1s;

  background-color: green;
}

.orange {
  transition: 1s;

  background-color: orange;
}

.purple {
  transition: 1s;

  background-color: purple;
}
